*{
    margin: 0;
    padding: 0;
}
body{
    background-color:gray;
}
header{
    /* 定義head的大小 */
    width: 100%;
    height: auto;
    /* 定義盒子的佈局 */
    display: flex; 
    flex-direction: column;/*彈性盒子的基準軸方向要先定義出來*/
    justify-content: flex-start;
    align-items: center;
}
/* 音樂控制bar */
#bkgm{
    width: 200px;
    height: 50px;
    background-image:linear-gradient(to right bottom,yellow,blue,red);
    position: absolute;
    left: 50px;
    border-radius: 10px;
    /* 佈局 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* 隱藏圖片超出部分 */
    overflow: hidden;
}
#bkgm:hover{
    box-shadow: 2px 2px 10px rgb(54, 44, 114);
}
/* 播放按鈕圖片的設計 */
#bkgm img{
    height: 100%;
    position: absolute;
}
#bkgm_pic_play{
    position: absolute;
    display:block;
    opacity: 0.5;
}
#bkgm_pic_play:hover{
    /* display:block; */
    transition-duration: 0.5s;
    opacity: 1;
}
#bkgm_pic_playing{
    display: none;
    height: 100%;
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg)
    }   
}
#p11p{
    /* 歌曲名稱定位 */
    margin: 2px;
    width: 120px;
    height: auto;
    position: absolute;
    right:15px;
    /* 歌曲名稱佈局 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#p11{
    /* 盒子屬性 */
    width: auto;
    height: auto;
    margin: 1px;
    /* 字體屬性 */
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(133, 255, 208);
    /* 歌曲名字定位 */
    position: relative;
    top:-4px;
    left:-100px;
    animation-name: p11_fly;
    animation-duration: 10s ;
    animation-iteration-count: 9999;
    /* animation-delay: 1s; */
}
@keyframes p11_fly{
    0%{left:100px};
    /* 100%{left:-100px}; */
}
#p12{
    /* 字體屬性 */
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(236, 220, 74);
    font-style: italic;
    /* 文字佈局 */
    position: relative;
    left:1px;
    bottom: 1px;
    margin: 1px;
}


/* hd1佈局 */
.hd1{
    /* 盒子大小 */
    width: 100%; 
    height: 50px;
    background-color: rgb(236, 183, 232);
    /* 佈局方向 */
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    /* 圖片超出盒子的部分被隱藏 */
    overflow: hidden;
}
/* hd1的兒子佈局 */
#hd1_tel{
    animation-name:hd1_tela;
    animation-duration:1s;
    animation-delay:1s;
    animation-iteration-count:9999;
}
@keyframes hd1_tela{
    0%{rotate: 25deg;}
    25%{rotate: 30deg;}
    50%{rotate: -30deg;}
    75%{rotate: 30deg;}
    100%{rotate: 30deg;}
    
}
#smi{
    /* 盒子屬性 */
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* 盒子在父級中的位置 */
    left:800px   
}
#smi img{
    width: 120px;
    height: 100%;
    /* height: 50px; */
    opacity: 0.4;   
}
#smi img:hover{
    opacity: 1.5;
}
#hd1_dt{
    /* 盒子大小 */
    width: 180px;
    height: 6vh;
    background-color: rgb(136, 159, 170);
    /* 佈局 */
    position:absolute;
    left: 20vw;
    /* 佈局方向 */
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/* hd1的孫子1的屬性 */
#hd1_tel{
    width: 30px;
    position: absolute;
    left: 10px;
}
/* hd1的孫子2的屬性 */
#hd1_d{
    /* 文字屬性 */
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: oblique;
    color: rgb(27, 48, 49);
    letter-spacing: 0.8px;
    margin: 0 0 0 10px;
}
/* hd1_dt特效 */
#hd1_dt:hover{
    /* 外框動畫 */
    transform: scale(1);
    transition-duration: 0.3s;
    border-radius: 25px;
    /* 内部文字動畫 */
    /* color: rgb(196, 50, 6); */
    font-weight: 700;
    /* 背景顔色特效 */
    /* background-color: rgb(224, 197, 255); */
}
#slogen{
    /* 位置 */
    position: absolute;
    right: 3vw;
    
    /* 佈局 */
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* 盒子大小 */
    height: 50px;
    width: 420px;
    /* color:blue; */
    /* background: linear-gradient(to right, red, orange, yellow, rgb(66, 255, 66), rgb(169, 70, 240), violet); */
    animation-name: slogen_animation;
    animation-duration: 1s;
    animation-iteration-count:9999;
    animation-delay: 1s;
}
@keyframes slogen_animation{
    0%{background-color: rgb(240, 156, 156);}
    25%{background-color: rgb(248, 218, 163);}
    35%{background-color: rgb(247, 247, 183);}
    45%{background-color:rgb(134, 241, 134);}
    55%{background-color:rgb(169, 70, 240);}
    65%{background-color:rgb(169, 233, 169);}
    75%{background-color:rgb(159, 159, 238);}
    85%{background-color:rgb(220, 250, 111);}
    95%{background-color:rgb(187, 253, 156);}
    100%{background-color:rgb(248, 137, 198);}
}
#slogen_p{
     /* 文字 */
      font-size: 25px; 
      color: blueviolet;  
      /* 動畫 */
        animation-name: slogen_pa;
        animation-duration: 0.5s;
        animation-iteration-count:9999;
        animation-delay: 0.5s;
}
@keyframes slogen_pa{
    0%{font-size:25px;}
    75%{font-size:26px;}
    100%{font-size:26px;}

    
}
/* ================================================ */
/* ===>hd2的佈局*/
.hd2{
    /* 外框屬性 */
    margin: 2px 0;
    width: 100%;
    height: auto;
    /* margin:50px 0px 2px; */
    /* padding: 10px 10px; */
    background-color: rgb(158, 179, 142);
    /* 佈局屬性 */
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#hd2_l{
     /* 圖片屬性 */
     width: 100px;
     border-radius: 50%;
     box-shadow: 3px 3px 20px black;
     /* 邊距 */
     margin: 15px 20px;
}
#hd2_l{
    animation-name:hd2_la;
    animation-duration:4s;
    animation-iteration-count:9999;
    animation-delay:1s;
}
@keyframes hd2_la{
    0%{rotate: 30deg}
    25%{rotate: -30deg}
    50%{rotate: 30deg}
    75%{rotate: -30deg}
    100%{rotate: 30deg}
    
}
#hd2_l:hover{
    scale: 1.1;
    transition-duration: 0.5s;
}
    
#hd2_r{
    /* 佈局屬性 */
    display: inline-flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    /* 盒子大小 */  
    width: 1000px;   
}
#hd2_ra{
    /* 佈局 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 文字屬性 */
    font-size: 15px;
    font-family:sans-serif;
    font-weight: 600;
    /* font-style:oblique; */
    color: rgb(19, 76, 78);
    text-decoration: none;
    letter-spacing:1.2px;
    /* 佈局屬性*/
    width: 200px;
    height: 80px;
    margin: 2px;
    padding: 2px 2px;
    text-align: center;/*文字排版：居中分佈*/
    /* 邊框屬性*/
    border-radius: 20px;
    background-color: rgba(204, 199, 199, 0.767);
    box-shadow: 2px 2px 10px rgb(5, 3, 5);   
}
#hd2_rad{
    /* 字體屬性 */
    color: rgb(46, 42, 78);
    letter-spacing: normal;
    
}
#hd2_rad2{
    /* 字體屬性 */
    color: rgb(140, 74, 148);
    letter-spacing: normal;
    /* 顯示 */
    display: block;   
}
#hd2_ra:hover{
    /* 外框的變化*/
    transform: scale(1.1);
    transition: 0.5s;
    /* 背景和陰影的變化 */
    background-color: rgb(243, 247, 245);
    box-shadow: 5px 5px 20px rgb(226, 167, 226);
    /* 字體屬性的變化 */
    color: rgb(112, 46, 187);
    font-size: 15px;
    font-weight: 800;
}
/* ================================================================ */
/* hd3的佈局 */
#hd3{
    /* 外框屬性 */
    width: 100%;
    height: auto;
    margin: 0 0 2px;
    padding:10px 0 10px;
    background-color: rgb(201, 201, 201);
    /* 佈局屬性 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#hd3_L1{
    height: auto;
    width: 300px;
    margin: 5px;

}
#hd3_m p{
    font-size: 16px;
    color: rgb(12, 66, 66);
    font-weight: 600;
    font-style: oblique;
}
.shortnews a{
    margin: 10px;
    color: rgb(23, 23, 83);
    font-size: 12px;
    opacity: 0.8;
    text-decoration: none;
}
.shortnews a:hover{
    opacity: 1;
    color: rgb(54, 36, 133);
    font-size: 1.2;
    background-color: rgb(110, 255, 255);
    text-decoration: dashed;
    font-weight:900;
}
/* 日曆================================================================ */
#hd3_L1 ul{
    /* 佈局 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* 字體 */
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-display:unset;
}
#hd4{
    width: 100%;
    height: auto;
}
#hd4 img{
    width: 100%;
    height: 100%;

}